<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/coursework/storyLang/Story"
			class = "org.xtext.coursework.storyLang.story.StoryPackage"
			genModel = "model/generated/Story.genmodel" />
	</extension>
</plugin>
