/.StoryParsingTest.java._trace
/.StoryParsingTest.xtendbin
/StoryParsingTest.java
/.StorySimpleParsingTest.java._trace
/.StoryEdgeCaseParsingTest.java._trace
/.StoryErrorsTest.java._trace
/.StoryDataParsingTest.java._trace
/.StoryDataParsingTest.xtendbin
/.StoryErrorsTest.xtendbin
/StoryDataParsingTest.java
/StoryErrorsTest.java
